
.nav2 {
    padding-bottom: 2ch; 
    padding-top: 2ch; 
    padding-left: 5ch; 
    background-color: #ffffff
}

#alert-top {
    margin-bottom: 0ch; 
    background-color: hsla(216, 91%, 69%, 0.7); 
    color: hsla(263, 88%, 45%, 0.7);
}

.img-background {
    max-width: 100%;
    height: auto;
  }

.text-top {
    word-wrap: break-word;
    width:40%;
    margin-left: 15%;
    font-size:40px;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  } 